/* Import font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

/* All */
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    width: 100vw;
}
.btn-purple:hover{
    color: white;
    background-image: linear-gradient(225deg, #9233e6 0%, #e33491 100%);

}
/* Header */
#navbarNav {
    justify-content: end;
    margin-right: 30px;
}
.navbar-brand {
    display: flex;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
}
.btn-purple {
    background-color: #e33491;
    background-image: linear-gradient(225deg, #e33491 0%, #9233e6 100%);
    color: white;
}
.nav-item .nav-link {
    margin-left: 50px;
}
.nav-item .nav-link:hover {
    color: #e33491;
}
.nav-item .btn-purple:hover {
    color: white;
    background-image: linear-gradient(225deg, #9233e6 0%, #e33491 100%);
}   
/* End Header */

/* Banner */
#banner {
    margin: auto;
    margin-top: 70px;
    margin-bottom: 50px;
    position: relative;
}
#banner .row{
    display: flex;
    align-items: center;
}
#banner .row .content{
    margin-left: 20px;
}
/* End Banner */

/* About */
#about {
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;
}
#about .content {
    padding-inline: 50px;
    text-align: center;
}
#about .content h1 {
    text-decoration-line: underline;
    text-decoration-color: hotpink;
}
.support {
    text-align: center;
    color: #fff;
    background-color: #020e35;
}
/* End About */

/* Services */
#services {
    padding-top: 80px;
    padding-bottom: 200px;
    background-image: linear-gradient(to bottom, #fff 50%, #020e36 50%);
}
.title-section{
    text-decoration-line: underline;
    text-decoration-color: hotpink;
    padding-bottom: 40px;
}
.carousel-control-prev-icon {
    background-color: #9233e6;
}
.carousel-control-next-icon {
    background-color: #9233e6;
}

#our-work {
        padding-top: 80px;
        padding-bottom: 200px;
        background-color: #020e36;
    }


/* Section Question */
/* Kolom 1 */
.container-question {
    font-family: "Basic";
    font-style: normal;
    font-weight: 400;
    margin-top: 100px;
}

.judul-kolom-1-question {
    font-size: 30px;
    line-height: 38px;
    color: #020e35;
}

.title-kolom-1-question {
    /* font-size: 30px; */
    /* line-height: 110px; */
    color: #020e35;
}

.hear {
    /* font-size: 90px; */
    line-height: 110px;
    color: #e73587;
}

/* Kolom 2 */
.form-label-question {
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 22px;
    color: #2c3241;
}

.text-placeholder-question {
    font-size: 18px;
    line-height: 36px;
    color: #2c3241;
}

.button-kolom-2-section-D {
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
}

/* Footer */
.container-footer {
    background: #020e35;
    margin-top: 94px;
}

.title-footer {
    font-family: "Basic";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
}